<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icons/bootstrap-icons.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/verificar-usuario.css') }}" />
    <script src="{{ url_for('static', filename='js/verificar-usuario.js') }}" defer></script>
    <title>Votaciones - Restablecer Contraseña</title>
</head>

<body>
    <main>
        <div class="c_form">
            <a href="{{ url_for('auth.view_login') }}">
                <i class="bi bi-arrow-left"></i>
            </a>
            <header>
                <div class="c_icon-email">
                    <i class="bi-envelope-arrow-up-fill"></i>
                </div>
                <h1>Verifica tu usuario</h1>
            </header>

            <div class="c_informacion">
                <p>
                    Escirbe tu correo y te enviaremos un <b>código</b>, escribelo en el siguiente espacio.
                </p>
                <p>Si no te llega el correo revisa en <b>spam</b></p>
            </div>

            <form action="{{ url_for('auth.send_code') }}" method="post" autocomplete="off">
                <div class="c_input">
                    <input name="correoUsuario" id="CorreoUsuario" type="email" required placeholder="" />
                    <label for="CorreoUsuario">Correo</label>
                </div>
                <div class="c_button">
                    <button id="VerificarButton">
                        Verificar
                    </button>
                </div>
            </form>
        </div>
    </main>
    {% include 'componentes/alerta.html' %}
</body>

</html>