<div class="overlay-editar">
    <div class="c_editar">

        <div class="c_cerrar">
            <div>
                <i data-name="cerrar" class="bi bi-x-lg"></i>
            </div>
        </div>
        <div class="c_titulo">
            <h3>Editar estado</h3>
        </div>
        <form action="{{ url_for('estado.edit_estado', estado=estado.idEstado) }}" method="POST" autocomplete="off">
            <div class="c_input">
                <input type="text" id="DescripcionEstado" name="descripcionEstado" value="{{ estado.descripcionEstado }}"
                    placeholder="" required>
                <label for="DescripcionEstado">Decripción</label>
            </div>

            <div class="c_button">
                <button>
                    Actualizar
                    <i class="bi bi-pencil-square-fill"></i>
                </button>

                <button data-name="cerrar" type="button">Cancelar</button>
            </div>
        </form>

    </div>
</div>