<div class="overlay-editar">
    <div class="c_editar">

        <div class="c_cerrar">
            <div>
                <i data-name="cerrar" class="bi bi-x-lg"></i>
            </div>
        </div>
        <div class="c_titulo">
            <h3>Editar rol</h3>
        </div>
        <form action="{{ url_for('rol.edit_rol', rol=rol.idRol) }}" method="POST" autocomplete="off">
            <div class="c_input">
                <input type="text" id="DescripcionRol" name="descripcionRol" value="{{ rol.descripcionRol }}"
                    placeholder="" required>
                <label for="DescripcionRol">Decripción</label>
            </div>

            <div class="c_button">
                <button>
                    Actualizar
                    <i class="bi bi-pencil-square-fill"></i>
                </button>

                <button data-name="cerrar" type="button">Cancelar</button>
            </div>
        </form>

    </div>
</div>