<div class="c_form">
    <div class="c_titulo">
        <h3>Agregar estados</h3>
    </div>
    <form action="{{ url_for('estado.add_estado') }}" method="POST" autocomplete="off">
        <div class="c_input">
            <input type="text" id="DescripcionEstado" name="descripcionEstado" placeholder="" required>
            <label for="DescripcionEstado">Decripción</label>
        </div>

        <div class="c_button">
            <button id="BTNAgregarEstado">
                Registrar
                <i class="bi bi-plus-square"></i>
            </button>
        </div>
    </form>
</div>
<div class="c_table">
    <table id="TablaEstados">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            {% for estado in estados %}
            <tr>
                <td>{{ estado.idEstado }}</td>
                <td>{{ estado.descripcionEstado }}</td>
                <td>
                    <a>
                        <i class="bi bi-pencil-square"></i>
                        {% include 'componentes/complementos/editar-estado.html' %}
                    </a>
                </td>
                <td>
                    <form action="{{ url_for('estado.delete_estado', estado=estado.idEstado) }}" method="POST">
                        <button><i class="bi bi-trash3"></i></button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>