<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index-administrador.css') }}">
    <script src="{{ url_for('static', filename='js/index-administrador.js') }}"></script>
    <title>Votaciones - Administrar</title>
</head>
<body>
    <main>
        {% include 'componentes/header-administrador.html' %}
    </main>
</body>
</html>