$grosor-separador: 1px;
$tamanio-separador: 90%;
$background-form-label: #eee;

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin-top: 65px;

    @media screen and (max-width: 968px) {
        scroll-margin-top: 65px;
    }
}

body {
    margin: 0;
    background-color: #fff;
    // overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;
    max-width: 100vw;

    &:-moz-scrollbar {
        display: none;
    }
}

main {
    // height: 100%;
    // width: 100%;

    .c_fondo {
        height: 100vh;
        background-image: url("../images/fondo.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media screen AND (max-width: 600px) {
            // height: fit-content;
            background-position: center;
        }

        .c_titulo {
            position: absolute;
            bottom: 0;
            background-color: #000a;
            width: 100%;
            color: #fff;
            padding: 5px 10px;
            height: fit-content;
            letter-spacing: 1px;
            z-index: 1;

            @media screen AND (max-width: 600px) {
                height: 20%;
            }

            @media screen AND (max-width: 600px) {
                padding-bottom: 15px;
            }

            h1 {
                font-size: 75px;
                margin: 0;
                height: 50%;

                @media screen AND (max-width: 600px) {
                    font-size: 22px;
                }
            }

            h3 {
                height: 50%;
                margin: 0;
                margin: 0 5px 10px 0;
                font-size: 22px;

                @media screen AND (max-width: 600px) {
                    font-size: 15px;
                }
            }
        }
    }

    .c_descripcion {
        // background-color: red;
        height: 240px;
        display: flex;

        @media screen and (max-width: 900px) {
            flex-direction: column-reverse;
            height: fit-content;
        }

        .descripcion {
            width: 75%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            @media screen and (max-width: 900px) {
                width: 100%;
            }

            p {
                font-size: 18px;
                width: 75%;
                height: 100%;
                display: flex;
                align-items: center;
                line-height: 1.5;
                text-align: justify;

                @media screen and (max-width: 900px) {
                    width: 90%;
                    line-height: 1.2;
                }
            }
        }

        .c_img {
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;

            @media screen and (max-width: 900px) {
                width: 100%;
            }

            img {
                min-width: 225px;
                max-width: 225px;
            }
        }
    }

    .c_funciones {
        margin-top: 30px;
        // background-color: green;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        // max-height: 600px;

        .separador-title {
            display: flex;
            justify-content: center;
            padding: 20px 0;

            h3 {
                font-size: 28px;
                margin: 0;
            }
        }

        .c_imagen-funciones {
            display: flex;

            @media screen AND (max-width: 768px) {
                flex-direction: column;
            }

            .c_imagen {
                // background-color: red;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 45%;

                @media screen AND (max-width: 768px) {
                    width: 100%;
                }

                img {
                    height: 500px;

                    transform: translateX(-100%);
                    view-timeline-name: --img;
                    animation-timeline: --img;
                    animation-name: show;
                    animation-fill-mode: forwards;
                    animation-range: entry 0% cover 45%;
                }
            }

            .funciones {
                width: 55%;
                // background-color: red;
                font-size: 17px;

                @media screen AND (max-width: 768px) {
                    width: 100%;
                }

                ol {
                    height: 95%;
                    // background-color: green;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;

                    li {
                        position: sticky;

                        transform: translateX(100%);
                        view-timeline-name: --li;
                        animation-timeline: --li;
                        animation-name: show;
                        animation-fill-mode: forwards;
                        animation-range: entry 0% cover 25%;

                        @media screen AND (max-width: 768px) {
                            transform: translateX(-100%);
                            animation-range: entry 0% cover 15%;

                            margin-bottom: 10px;

                            &:last-child {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .c_contacto {
        background-color: #eeeeee;
        width: 100%;
        height: 300px;
        display: flex;
        padding: 10px;
        margin-top: 15px;
        align-items: center;
        box-shadow: inset 0 0 5px 0 #0006;

        @media screen AND (max-width: 768px) {
            flex-direction: column;
            height: fit-content;
        }

        .separador {
            display: none;
            background-color: #444;
        }

        .horizontal {
            width: calc($tamanio-separador + 5%);
            height: $grosor-separador;
            margin: 30px 0;

            @media screen AND (max-width: 768px) {
                display: block;
            }
        }

        .vertical {
            display: block;
            width: $grosor-separador;
            height: $tamanio-separador;
            margin: 0 auto;

            @media screen AND (max-width: 768px) {
                display: none;
            }
        }

        .contacto {
            height: 100%;
            width: 45%;
            display: flex;
            flex-direction: column;
            font-size: 18px;
            align-items: center;
            // border: 2px solid #999;
            // box-shadow: 0 0 10px 0 #0006;

            view-timeline-name: --contact;
            view-timeline-axis: block;
            animation-timeline: --contact;
            animation-name: show;
            animation-fill-mode: forwards;
            animation-range: entry 0% cover 45%;

            @media screen AND (max-width: 768px) {
                animation-range: entry 0% cover 35%;
                width: 100%;
            }

            &.sena-fisico {
                transform: translateX(-100%);

                .c_info {
                    p {
                        font-size: 17px;

                        &:last-child {
                            margin-bottom: 15px;
                        }
                    }
                }
            }

            &.sena-virtual {
                transform: translateX(110%);

                @media screen AND (max-width: 768px) {
                    transform: translateX(-200%);
                }

                .c_info {
                    p {
                        margin-top: 3px;
                    }
                }
            }

            .c_title {
                width: 100%;
                height: 30%;

                h3 {
                    margin: 0;
                    margin: 20px 0;
                    font-size: 1.8em;
                    text-align: center;
                }
            }

            .c_info {
                width: 80%;
                height: 60%;

                p {
                    margin: 0;
                }

                ul {
                    margin-top: 5px;
                    // background-color: green;
                }
            }
        }
    }

    .c_nosotros {
        // background-color: red;
        margin-top: 20px;
        padding: 5px 15px;

        .separador {
            display: none;
            background-color: #444;

            &.horizontal {
                width: calc($tamanio-separador + 5%);
                height: $grosor-separador;
                margin: 30px 0;

                @media screen AND (min-width: 768px) {
                    display: block;
                }
            }

            &.vertical {
                display: block;
                width: $grosor-separador;
                height: $tamanio-separador;
                margin: 0 auto;

                @media screen AND (max-width: 768px) {
                    display: none;
                }
            }
        }

        .drop-down {
            margin-bottom: 25px;
            font-size: 19px;

            &:last-child {
                .c_contenido {
                    text-align: inherit;
                }
            }

            &:last-child {
                margin: 0;
            }

            .c_titulo {
                // background-color: red;
                border-bottom: 1px solid #3336;
                display: flex;
                align-items: center;
                cursor: pointer;

                h3 {
                    margin: 0;
                }

                i {
                    margin-left: 10px;
                    font-size: 1.8rem;
                    transition: transform 0.6s;
                    transform: rotate(0deg);

                    &.subir {
                        transform: rotate(180deg);
                    }
                }
            }

            .c_contenido {
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.6s ease;
                padding-top: 5px;
                text-align: justify;

                @media screen and (max-width: 900px) {
                    font-size: 15px;
                }

                &.show {
                    max-height: 200px;
                }
            }
        }
    }

    .c_comentarios-sugerencias {
        // background-color: red;
        margin-top: 20px;
        display: flex;
        padding: 15px;
        min-height: 300px;
        background-color: $background-form-label;
        box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.4);

        @media screen and (max-width: 900px) {
            flex-direction: column;
        }

        .c_mensaje {
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media screen and (max-width: 900px) {
                width: 100%;
                align-items: center;
                text-align: justify;
            }

            h2 {
                margin: 0;

                @media screen and (max-width: 900px) {
                    width: 100%;
                    font-size: 20px;
                }
            }

            p {
                font-size: 18px;
                margin: 0;

                @media screen and (max-width: 900px) {
                    width: 100%;
                    font-size: 14px;
                    margin-top: 5px;
                }
            }
        }

        .separador.vertical {
            background-color: #444;
            display: block;
            width: 1px;
            margin: 0 25px;

            @media screen and (max-width: 900px) {
                display: none;
            }
        }

        .separador.horizontal {
            background-color: #444;
            display: block;
            width: 100%;
            height: 1px;
            margin: 25px 0;

            @media screen and (min-width: 900px) {
                display: none;
            }
        }

        .c_form {
            width: 60%;

            @media screen and (max-width: 900px) {
                width: 100%;
            }

            form {
                width: 100%;
                height: 100%;

                .mid {
                    @media screen and (min-width: 900px) {
                        display: flex;
                    }

                    .c_input {
                        @media screen and (min-width: 900px) {
                            width: 49%;

                            &:first-child {
                                margin-right: 2%;
                            }
                        }
                    }
                }

                .c_input,
                .c_select {
                    height: 43px;
                    // width: 45%;
                    position: relative;
                    margin-bottom: 25px;

                    &.c_textarea {
                        min-height: 120px;
                        height: fit-content;

                        textarea {
                            resize: none;
                            height: 100%;
                            padding-top: 15px;
                        }
                    }

                    input,
                    select,
                    textarea {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        padding-left: 20px;
                        background-color: transparent;
                        border-style: solid;
                        border-width: 1px;
                        border-radius: 0.5rem;
                        font-size: 15px;
                        border-color: #666;

                        &:required + label::after {
                            content: "*";
                            color: #f00;
                            // font-
                            font-weight: 600;
                        }

                        &:focus {
                            outline-color: #666;
                            outline-style: solid;
                        }
                    }

                    input[type="number"] {
                        -moz-appearance: textfield;
                        appearance: textfield;
                    }

                    input[type="number"]::-webkit-inner-spin-button,
                    input[type="number"]::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    label {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%) translateX(15px);
                        z-index: 9;
                        padding: 1px 5px;
                        transition: transform 0.35s, top 0.35s,
                            background-color 0.4s;
                        font-size: 18px;
                        user-select: none;
                        cursor: text;
                        color: #333;
                        letter-spacing: 1px;
                        // width: 100%;

                        &[for="TipoDocumentoUsuario"] {
                            background-color: $background-form-label;
                            color: #000;
                            top: 0;
                            transform: translateY(-50%) translateX(10px);
                        }
                    }

                    input:focus + label,
                    textarea:focus + label,
                    input:not(:placeholder-shown) + label,
                    textarea:not(:placeholder-shown) + label {
                        top: 0;
                        transform: translateY(-50%) translateX(10px);
                        background-color: $background-form-label;
                        color: #000;
                    }

                    .error {
                        display: none;
                        position: absolute;
                        bottom: -17px;
                        font-size: 15px;
                        color: #c33;

                        @media screen AND (max-width: 768px) {
                            display: block;
                            font-size: 13px;
                        }

                        &.cu {
                            display: block;
                        }
                    }
                }

                .c_button {
                    // grid-column: 1 / -1;
                    height: 43px;
                    width: 100%;

                    button {
                        background-color: #292;
                        width: 100%;
                        height: 100%;
                        font-size: 19px;
                        border-style: solid;
                        border-color: #272;
                        cursor: pointer;

                        &:hover {
                            background-color: #272;
                        }
                    }
                }
            }
        }
    }
}

::-webkit-scrollbar {
    display: none;
}

@keyframes show {
    to {
        transform: translateX(0);
    }
}
