$background-form-label: #fff;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10px;
    height: 100vh;
    min-height: 100vh;

    @media screen and (max-width: 768px) {
        padding: 0;
    }
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .c_form {
        padding: 20px;
        border-radius: 0.3rem;
        background-color: $background-form-label;
        width: 400px;
        box-shadow: 0 0 10px 0 #0008;

        @media screen AND (max-width: 600px) {
            width: 95%;
        }

        header {
            margin-bottom: 20px;

            h1 {
                font-size: 36px;
                text-align: center;
                margin: 0;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            // display: grid;
            // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            // grid-auto-rows: 43px;
            // gap: 25px 10px;

            // @media screen AND (max-width: 768px){
            //     row-gap: 30px;
            // }

            .c_input,
            .c_select {
                height: 43px;
                width: 100%;
                position: relative;
                margin-bottom: 25px;

                input,
                select {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    padding-left: 20px;
                    background-color: transparent;
                    border-style: solid;
                    border-width: 1px;
                    border-radius: 0.5rem;
                    font-size: 15px;
                    border-color: #666;

                    &:required + label::after {
                        content: "*";
                        color: #f00;
                        // font-
                        font-weight: 600;
                    }

                    &:not(:required) + label::after {
                        content: "(opcional)";
                    }

                    &:focus {
                        outline-color: #666;
                        outline-style: solid;
                    }
                }

                input[type="number"] {
                    -moz-appearance: textfield;
                    appearance: textfield;
                }

                input[type="number"]::-webkit-inner-spin-button,
                input[type="number"]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                label {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%) translateX(15px);
                    z-index: 20;
                    padding: 1px 5px;
                    transition: transform 0.35s, top 0.35s,
                        background-color 0.4s;
                    font-size: 18px;
                    user-select: none;
                    cursor: text;
                    color: #333;
                    letter-spacing: 1px;

                    &[for="TipoDocumentoUsuario"] {
                        background-color: $background-form-label;
                        color: #000;
                        top: 0;
                        transform: translateY(-50%) translateX(10px);
                    }
                }

                input:focus + label,
                input:not(:placeholder-shown) + label {
                    top: 0;
                    transform: translateY(-50%) translateX(10px);
                    background-color: $background-form-label;
                    color: #000;
                }

                .error {
                    display: none;
                    position: absolute;
                    bottom: -17px;
                    font-size: 15px;
                    color: #c33;

                    @media screen AND (max-width: 768px) {
                        display: block;
                        font-size: 13px;
                    }

                    &.cu {
                        display: block;
                    }
                }
            }

            .c_button {
                // grid-column: 1 / -1;
                height: 43px;
                width: 100%;

                button {
                    background-color: #292;
                    width: 100%;
                    height: 100%;
                    font-size: 19px;
                    border-style: solid;
                    border-color: #272;
                    cursor: pointer;

                    &:hover {
                        background-color: #272;
                    }
                }
            }
        }

        .c_acciones {
            margin-top: 5px;

            p {
                margin: 0;
            }
        }
    }
}
