$background-form-label: #fff;

body {
    margin: 0;
    padding-top: 60px;

    @media screen and (min-width: 768px) {
        height: 100vh;
    }
}

main {
    height: 100%;

    header {
        background-color: #464;
        top: 0;
    }

    .c_form {
        height: 100%;

        form {
            height: 100%;
            // background-color: red;
            display: flex;
            flex-direction: row;

            @media screen and (max-width: 768px) {
                display: flex;
                flex-direction: column-reverse;
            }

            .datos-basicos,
            .datos-opcionales {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @media screen and (max-width: 768px) {
                    width: 100%;
                    margin-top: 20px;
                }

                .titulo {
                    width: 100%;
                    height: 10%;
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;

                    h2 {
                        font-size: 38px;
                        letter-spacing: 1px;
                        display: flex;
                        width: 100%;
                        align-items: center;
                        justify-content: center;
                        margin: 0;

                        i {
                            margin-left: 20px;
                            font-size: 1.5rem;
                            color: #000;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;

                            &:hover {
                                color: #444;
                            }
                        }
                    }
                }

                .fields {
                    width: 85%;
                    height: 85%;
                    display: flex;
                    flex-direction: column;
                    background-color: $background-form-label;
                    overflow: auto;
                    padding: 20px 15px;

                    /* Estilos del scrollbar */
                    &::-webkit-scrollbar {
                        width: 3px;
                        opacity: 0;
                        transition: opacity 2s;
                        -webkit-transition: opacity 2s;
                        -moz-transition: opacity 2s;
                        -ms-transition: opacity 2s;
                        -o-transition: opacity 2s;
                    }

                    &::-webkit-scrollbar-track {
                        opacity: 0;
                        background: #f1f1f1;
                    }

                    &::-webkit-scrollbar-thumb {
                        background: #888;
                        border-radius: 0.3rem;
                        -webkit-border-radius: 0.3rem;
                        -moz-border-radius: 0.3rem;
                        -ms-border-radius: 0.3rem;
                        -o-border-radius: 0.3rem;
                    }

                    &:hover::-webkit-scrollbar {
                        opacity: 1;
                    }

                    .c_input,
                    .c_select {
                        width: 100%;
                        min-height: 47px;
                        height: 47px;
                        position: relative;
                        margin-bottom: 20px;

                        &[editar="false"] {
                            display: none;
                        }

                        &[editar="true"] {
                            display: block;
                        }

                        &.last {
                            margin: 0;
                        }

                        input,
                        select,
                        textarea {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            padding-left: 20px;
                            background-color: transparent;
                            border-style: solid;
                            border-width: 1px;
                            border-radius: 0.5rem;
                            font-size: 15px;
                            border-color: #666;

                            &:required + label::after {
                                content: "*";
                                color: #f00;
                                font-weight: 600;
                            }

                            &:disabled {
                                cursor: not-allowed;
                            }

                            &:focus {
                                outline-color: #666;
                                outline-style: solid;
                            }

                            &[type="number"] {
                                appearance: texfield;
                                -moz-appearance: textfield;
                                appearance: textfield;
                            }

                            &[type="number"]::-webkit-inner-spin-button,
                            &[type="number"]::-webkit-outer-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }
                        }

                        label {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%) translateX(15px);
                            z-index: 9;
                            padding: 1px 5px;
                            transition: transform 0.35s, top 0.35s,
                                background-color 0.4s;
                            font-size: 18px;
                            user-select: none;
                            cursor: text;
                            color: #333;
                            letter-spacing: 1px;
                        }

                        input:focus + label,
                        textarea:focus + label,
                        input:not(:placeholder-shown) + label,
                        textarea:not(:placeholder-shown) + label {
                            top: 0;
                            transform: translateY(-50%) translateX(10px);
                            background-color: $background-form-label;
                            color: #000;
                        }

                        .error {
                            display: block;
                            position: absolute;
                            bottom: -18px;
                            font-size: 15px;
                            color: #c33;

                            @media screen AND (max-width: 768px) {
                                display: block;
                                font-size: 13px;
                            }

                            &.cu {
                                display: block;
                            }
                        }
                    }

                    .c_button {
                        width: 100%;
                        display: none;

                        button {
                            width: 100%;
                            height: 48px;
                            font-size: 19px;
                            border-style: solid;
                            cursor: pointer;
                            background-color: #ffe32d;
                            border-color: #e4cb28;
                            border-radius: 0.2rem;

                            &:hover {
                                background-color: #e4cb28;
                            }
                        }

                        &[editar="true"] {
                            display: block;
                        }
                    }

                    .c_acciones {
                        margin: 10px 0;
                        display: none;

                        &[editar="true"] {
                            display: block;
                        }

                        label {
                            font-size: 18px;
                        }
                    }

                    .c_select label {
                        background-color: $background-form-label;
                        color: #000;
                        top: 0;
                        transform: translateY(-50%) translateX(10px);
                    }
                }
            }

            .datos-opcionales {


                .c_foto-perfil {
                    width: fit-content;
                    min-width: 45%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    .foto {
                        width: 100%;
                        position: relative;
                        z-index: 8;

                        img {
                            // border-radius: 15%;
                            width: 100%;
                            height: 100%;
                            min-height: 325px;
                            min-width: 100%;
                            max-width: 330px;
                            border: 2px solid #bbb;
                            border-top-left-radius: 0.5rem;
                            border-top-right-radius: 0.5rem;

                            &:hover + .c_overlay {
                                display: flex;
                            }
                        }

                        .c_overlay {
                            position: absolute;
                            background-color: #0008;
                            inset: 0;
                            width: 100%;
                            height: 100%;
                            border-top-left-radius: 0.5rem;
                            border-top-right-radius: 0.5rem;
                            display: none;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            color: #fff;

                            &:hover {
                                display: flex;
                            }

                            .c_icono {
                                i {
                                    font-size: 3.5rem;
                                }
                            }

                            .c_texto {
                                color: #fff;
                            }
                        }
                    }

                    .c_input-file {
                        position: absolute;
                        opacity: 0;
                        z-index: 2;

                        input {
                            opacity: 0;
                            z-index: 0;
                        }
                        // background-color: green;
                    }

                    .nombre-archivo {
                        margin: 5px 0 10px 0;
                        font-size: 20px;
                        width: 100%;
                        display: flex;
                        justify-content: center;

                        label {
                            padding: 10px 0;
                            border: 1px solid #666;
                            // border-radius: 0.5rem;
                            border-bottom-left-radius: 0.5rem;
                            border-bottom-right-radius: 0.5rem;
                            width: 100%;
                            text-align: center;
                            cursor: pointer;
                            font-size: 15px;
                        }
                    }
                }

                .c_descripcion {
                    width: 100%;
                    height: 110px;
                    max-height: 200px;
                    padding: 15px 0;
                    margin: 0;
                    min-width: 100px;

                    .c_input {
                        height: 100%;
                        margin: 0;

                        textarea {
                            padding: 10px;
                            height: 100%;
                            resize: none;
                            margin: 0;
                        }

                        label {
                            transform: translateY(-50%) translateX(100%);
                            // font-size: 20px;
                        }
                    }
                }
            }
            ////////////////////////
        }
    }
}
