$background-form-label: #fff;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    max-height: 90vh;
}

main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .c_form {
        padding: 20px;
        border-radius: 0.3rem;
        box-shadow: 0 0 10px 0 #0008;

        @media screen AND (max-width: 600px) {
            width: 90%;
        }

        header {
            .c_icon-email {
                // background-color: green;
                display: flex;
                justify-content: center;

                i {
                    font-size: 8rem;
                    background-color: #55aa45;
                    padding: 15px 25px;
                    border-radius: 50%;

                    @media screen AND (max-width: 600px) {
                        font-size: 6rem;
                        padding: 10px 25px;
                    }
                }
            }

            h1 {
                margin: 0;
                margin-top: 10px;
                font-size: 38px;
                text-align: center;

                @media screen AND (max-width: 600px) {
                    font-size: 30px;
                }
            }
        }

        .c_informacion {
            margin: 10px 0;
            font-size: 17px;
            text-align: justify;

            @media screen AND (max-width: 600px) {
                font-size: 15px;
            }

            p {
                margin: 0;
                // margin-top: 10px;
            }
        }

        form {
            margin-top: 10px;

            .c_input {
                width: 100%;
                height: 43px;
                position: relative;

                input {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    padding-left: 20px;
                    background-color: transparent;
                    border-style: solid;
                    border-width: 1px;
                    border-radius: 0.5rem;
                    font-size: 15px;
                    border-color: #666;
                    text-transform: uppercase;

                    &:focus {
                        outline-color: #666;
                        outline-style: solid;
                    }
                }

                input[type="number"] {
                    -moz-appearance: textfield;
                    appearance: textfield;
                }

                input[type="number"]::-webkit-inner-spin-button,
                input[type="number"]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                label {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%) translateX(15px);
                    z-index: 20;
                    padding: 1px 5px;
                    transition: transform 0.35s, top 0.35s,
                        background-color 0.4s;
                    font-size: 18px;
                    user-select: none;
                    cursor: text;
                    color: #333;
                    letter-spacing: 1px;

                    &::after {
                        content: "*";
                        color: #f00;
                        // font-
                        font-weight: 600;
                    }
                }

                input:focus + label,
                input:not(:placeholder-shown) + label {
                    top: 0;
                    transform: translateY(-50%) translateX(10px);
                    background-color: $background-form-label;
                    color: #000;
                }

                .error {
                    display: none;
                    position: absolute;
                    bottom: -16px;
                    font-size: 15px;
                    color: #c33;

                    @media screen AND (max-width: 768px) {
                        display: block;
                        font-size: 13px;
                    }

                    &.cu {
                        display: block;
                    }
                }
            }

            .c_button {
                margin-top: 15px;
                width: 100%;
                height: 43px;

                @media screen AND (max-width: 600px) {
                    margin-top: 25px;
                }

                button {
                    width: 100%;
                    height: 100%;
                    font-size: 19px;
                    background-color: #55aa45;
                    border-style: solid;
                    border-color: #559945;
                    cursor: pointer;
                    border-radius: 0.2rem;

                    &:hover {
                        background-color: #559945;
                    }
                }
            }
        }
    }
}
