<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body style="font-family: Arial, sans-serif; margin: 0; padding: 0;">
    <div style="max-width: 800px; margin: 50px auto; text-align: center;">
        <div
            style="background-color: #f0f0f0; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
            <h1 style="font-size: 24px; color: #333;">¡Las votaciones han Finalizado!</h1>
            <p style="font-size: 18px; color: #666;">Por favor, inicia sesión para ver los resultados.</p>
            <a target="_blank" href="https://votaciones.onrender.com/"
                style="display: inline-block; margin-top: 20px; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px;"
                onmouseover="this.style.backgroundColor='#0056b3'" onmouseout="this.style.backgroundColor='#007bff'">Ver resultados</a>
        </div>
        <div style="margin-top: 50px;">
            <img style="width: 150px; margin: 0 20px;" src="https://votaciones.onrender.com/static/images/logo-SENA.jpg"
                alt="Logo sena" />
            <img style="width: 150px; margin: 0 20px;" src="https://votaciones.onrender.com/static/images/logo-CM.png"
                alt="Logo CM" />
        </div>
    </div>
</body>

</html>