<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main
        style="box-sizing: border-box; width: 100%;display: flex;flex-direction: column;justify-content: center;align-items: center;background-color: #8884; height: 300px;">
        <div class="contenido" style="box-sizing: border-box; width: 100%;padding: 15px 0;">
            <div class="mensaje"
                style="box-sizing: border-box; display: flex;flex-direction: column;align-items: center;">
                <h2 style="box-sizing: border-box; margin: 10px 0;font-family: system-ui;">Tu código de verificación es
                </h2>
                <br>
                <h1
                    style="box-sizing: border-box; margin: 10px 0; color: #3f3; font-family: Verdana, Geneva, Tahoma, sans-serif; margin-left: 10px;">
                    {{ codigo }}</h1>
            </div>
            <div class="logos"
                style="box-sizing: border-box;  width: 100%; display: flex; flex-direction: row; justify-content: center; margin-top: 20px;">
                <div class="c_img"
                    style="box-sizing: border-box; width: 48%; display: flex; align-items: center; justify-content: center;">
                    <img style="box-sizing: border-box; width: 150px;"
                        src="https://votaciones.onrender.com/static/images/logo-SENA.jpg" alt="Logo SENA">
                </div>
                <div class="c_img">
                    <img style="box-sizing: border-box; width: 150px;" src="https://votaciones.onrender.com/static/images/logo-CM.webp" alt="Logo CM">
                </div>
            </div>
        </div>

    </main>
</body>

</html>