<nav>
    <ul>
        <li class="{{ 'active' if url_for('usuario.view_home') == request.path else '' }}">
            <a
                href="{{ url_for('usuario.view_home') }}">Inicio
            </a>
            <span></span>
        </li>
        {% if current_user.idVoto == None and votacion.idEstado == 1 %}
        <li class="{{ 'active' if url_for('usuario.view_vote') == request.path else '' }}">
            <a 
                href="{{ url_for('usuario.view_vote') }}">Votar  
            </a>
            <span></span>
        </li>
        {% else %}
        <li class="{{ 'active' if url_for('usuario.view_results') == request.path else '' }}">
            <a
                href="{{ url_for('usuario.view_results') }}">Resultados votación</a>
                <span></span>

        </li>
        {% endif %}
        <li>
            <a href="{{ url_for('usuario.view_home') }}#Contacto">Contacto</a>
            <span></span>
        </li>
        <li>
            <a href="{{ url_for('usuario.view_home') }}#Nosotros">Nostros</a>
            <span></span>
        </li>
    </ul>
</nav>

