<nav>
    <ul>
        <li><a href="{{ url_for('usuario.view_home') }}">Inicio</a></li>
        {% if current_user.voto == null and votacion.estadoVotacion == 3%}
        <li><a href="{{ url_for('usuario.view_vote') }}">Votar</a></li>
        {% else %}
        <li>
            <a href="{{ url_for('usuario.view_results') }}">Resultados votación</a>
        </li>
        {% endif %}
        <li><a href="{{ url_for('usuario.view_home') }}#Contacto">Contacto</a></li>
        <li><a href="{{ url_for('usuario.view_home') }}#Nosotros">Nostros</a></li>
    </ul>
</nav>