<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="icon"
            href="{{ url_for('static', filename='images/favicon.ico') }}"
        />
        <title>Votaciones - Resultados</title>
    </head>
    <body>
        <main>
            <div id="grafico"></div>
            <!-- {% include 'componentes/header.html' %}
            <div class="c_card-grafica">
                <div class="c_candidato">
                    <div class="card-candidato">
                        <div class="c_nombre-candidato">
                            <h3>
                                {{ rpActual.ganador.nombreUsuario if rpActual
                                else 'No hay elegido' }}
                            </h3>
                        </div>
                        <div class="c_foto-candidato">
                            <img
                                src="{{ url_for('static', filename='images/' ~ (rpActual.ganador.fotoUsuario if rpActual else 'Triste!.jpg')) }}"
                                alt=""
                            />
                        </div>
                    </div>
                </div>
                <div class="grafica-resultado"></div>
            </div> -->
        </main>

        <script>

        </script>
    </body>
</html>
