<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/perfil.css') }}"
        />
        <script src="{{ url_for('static', filename='js/perfil.js') }}" defer></script>
        <link
            rel="icon"
            href="{{ url_for('static', filename='images/favicon.ico') }}"
        />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/icons/bootstrap-icons.css') }}">
        <title>Votaciones - {{ session['usernameUsuario'] }}</title>
    </head>
    <body>
        <main>
            {% if current_user.idRol == 35 or current_user.idRol == 36 %} {%
            include 'componentes/header-administrador.html' %} {% else %} {%
            include 'componentes/header.html' %} {% endif %}

            <div class="c_form">
                <form 
                autocomplete="off"
                action="{{ url_for('usuario.editar_perfil', usuario=current_user.idUsuario) }}"
                method="post"
                enctype="multipart/form-data"
                >
                    <div class="datos-basicos">
                        <div class="titulo">
                            <h2>
                                Datos Basicos
                                <i class="bi bi-pencil-square" title="Editar Perfil" id="EditarPerfil"></i>
                            </h2>
                        </div>
                        <div class="fields">
                            <div class="c_input">
                                <input
                                    name="nombreUsuario"
                                    id="NombreUsuario"
                                    type="text"
                                    value="{{ current_user.nombreUsuario }}"
                                    placeholder=""
                                    required
                                    disabled
                                />
                                <label for="NombreUsuario">Nombre</label>
                            </div>
                            <div class="c_input">
                                <input
                                    name="apellidoUsuario"
                                    id="ApellidoUsuario"
                                    type="text"
                                    value="{{ current_user.apellidoUsuario }}"
                                    placeholder=""
                                    required
                                    disabled
                                />
                                <label for="ApellidoUsuario">Apellido</label>
                            </div>
                            <div class="c_select">
                                <select
                                    name="tipoDocumentoUsuario"
                                    id="TipoDocumentoUsuario"
                                    disabled
                                >
                                    <option
                                        value="{{ current_user.idTipoDocumento }}"
                                        selected
                                        >
                                        {{
                                        current_user.tipoDocumentoUsuario.descripcionTipoDocumento
                                        }}
                                    </option>

                                    {% for tipoDocumento in TiposDocumento %} {%
                                    if current_user.idTipoDocumento !=
                                    tipoDocumento.idTipoDocumento %}
                                    <option
                                        value="{{ tipoDocumento.idTipoDocumento }}"
                                    >
                                        {{
                                        tipoDocumento.descripcionTipoDocumento
                                        }}
                                    </option>
                                    {% endif %} {% endfor %}
                                </select>
                                <label for="TipoDocumentoUsuario"
                                    >Tipo de documento</label
                                >
                            </div>
                            <div class="c_select">
                                <select
                                    name="rolusuario"
                                    id="RolUsuario"
                                    disabled
                                >
                                    <option
                                        value="{{ current_user.idRol }}"
                                        selected
                                        >
                                        {{
                                        current_user.rolUsuario.descripcionRol
                                        }}
                                    </option>
                                </select>
                                <label for="RolUsuario"
                                    >Rol</label
                                >
                            </div>
                            <div class="c_input">
                                <input
                                    name="documentoUsuario"
                                    id="DocumentoUsuario"
                                    type="number"
                                    value="{{ current_user.documentoUsuario }}"
                                    placeholder=""
                                    required
                                    disabled
                                />
                                <label for="DocumentoUsuario">Documento</label>
                            </div>
                            <div class="c_input">
                                <input
                                    name="correoUsuario"
                                    id="CorreoUsuario"
                                    type="email"
                                    value="{{ current_user.correoUsuario }}"
                                    placeholder=""
                                    required
                                    disabled
                                />
                                <label for="CorreoUsuario">Correo</label>
                            </div>
                            <div class="c_input last">
                                <input
                                    name="telefonoUsuario"
                                    id="TelefonoUsuario"
                                    type="number"
                                    value="{{ current_user.telefonoUsuario }}"
                                    placeholder=""
                                    disabled
                                />
                                <label
                                disabled for="TelefonoUsuario">Telefono</label>
                            </div>
                            <div class="c_acciones" id="Acciones" editar="false">
                                <input type="checkbox" name="" id="EditarContraseñas" disabled>
                                <label for="EditarContraseñas">Cambiar contraseña</label>
                            </div>
                            <div class="c_input" id="ContraseniaOld" editar="false">
                                <input
                                    name="contraseniaOldUsuario"
                                    id="OldPaswordUsuario"
                                    type="password"
                                    value=""
                                    placeholder=""
                                    required
                                    disabled
                                />
                                <label
                                disabled for="OldPaswordUsuario">Contraseña actual</label>
                            </div>
                            <div class="c_input" id="NuevaContrasenia" editar="false">
                                <input
                                    name="contraseniaUsuario"
                                    id="ContraseniaUsuario"
                                    type="password"
                                    value=""
                                    placeholder=""
                                    required
                                    disabled
                                />
                                <label
                                disabled for="ContraseniaUsuario">Nueva contraseña</label>
                            </div>
                            <div class="c_button" id="BTNActualizar" editar="false">
                                <button type="submit" name="" id="buttonRegistrar">
                                    Actualizar datos
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="datos-opcionales">
                        <div class="c_foto-perfil">
                            <div class="foto">
                                <img src="{{ url_for('static', filename='images/' + (current_user.fotoUsuario if current_user.fotousuario != None else 'Triste!.jpg')) }}" alt="Foto de {{ session['usernameUsuario'] }}" 
                                    id="imgFotoUsuario"
                                >
                                <div class="c_overlay" id="Overlay-foto">
                                    <div class="c_icono">
                                        <i class="bi bi-camera-fill"></i>
                                    </div>
                                    <div class="c_texto">
                                        Cambiar foto de perfil
                                    </div>
                                </div>
                            </div>
                            <div class="c_input-file">
                                <input
                                    type="file"
                                    name="fotoUsuario"
                                    id="FotoUsuario"
                                    accept=".png, .jpg, .gif, .jpeg"
                                    disabled
                                />
                            </div>
                            <div class="nombre-archivo">
                                <label id="Nombre-archivo" for="FotoUsuario">Seleccionar archivo</label>
                            </div>
                        <div class="fields c_descripcion">
                            <div class="c_input">
                                <textarea
                                    name="descripcionUsuario"
                                    id="DescripcionUsuario"
                                    placeholder=""
                                    maxlength="100"
                                    disabled
                                    >{{ current_user.descripcionUsuario }}</textarea>
                                    <label for="DescripcionUsuario">Descripción</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            {% include 'componentes/alerta.html' %}
        </main>
    </body>
</html>
